<div id="main-container">
  <div id="home-container">
    <img id="banner" src="/assets/pplex.jpg" alt="home page banner" />

    <div id="bio">
      <h1>Insert Title</h1>
      <h3>Fullstack | Angular | Developer</h3>
    </div>

    <div id="helloworld">
      <h2>SPAS</h2>

      <div id="yawe">
        <div>
          <h5>Backrub</h5>
        </div>

        <div id="prime" class="meridian">
          <!-- <p>
            Lorem ipsum dolor sit,
            <span class="statistic">{{ channelStats.subscriberCount }}</span>
            Reiciendis rem aliquid recusandae illum voluptates nam.
            <span class="statistic">{{ channelStats.videoCount }}</span> Lorem,
            ipsum dolor sit amet consectetur adipisicing elit.
          </p> -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            architecto aperiam eligendi fuga aut? Rem odit quo eum, aperiam,
            reiciendis, consectetur error laudantium unde impedit quia corrupti
            soluta facilis. Similique?
          </p>
        </div>
      </div>

      <!-- <div id="self-taught-or-not">
        <div id="podcast-description">
          <p>
            <a href="">link me</a> is Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Impedit quasi vitae quibusdam amet, reiciendis
            voluptas commodi repellendus quisquam nobis quidem molestias et
            recusandae sint beatae qui nemo non eligendi sapiente.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
            veniam eligendi placeat alias delectus impedit nisi aperiam officia
            blanditiis hic? Asperiores, explicabo facere. Accusamus vero quod
            velit, veritatis aut atque!
          </p>
        </div>

        <div>
          <img src="/assets/self-taught-or-not.png" alt="" />
          <h5>Side Projects</h5>
        </div>
      </div>

      <div id="courses">
        <div>
          <i class="fas fa-laptop-code"></i>
          <h5>Skills</h5>
        </div>
        <div id="courses-description">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis
            impedit vitae facilis recusandae, obcaecati minima ducimus voluptas
            repellat officiis inventore provident nesciunt, distinctio sequi
            eius ullam velit quas placeat. Debitis?
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
            cupiditate, aperiam dolor quidem quas beatae. Pariatur non, earum
            minima amet excepturi quam tempore porro consequuntur. Dignissimos,
            quos. Ipsa, odit quo!
          </p>
        </div>
      </div> -->
    </div>
  </div>
</div>
