@import "src/styles/colors";
@import "src/styles/breakPoints";
@import "/src/styles/mixins";

.spas-grid {
  display: grid;
}

.zone {
  background-color: $color1;
  align-items: start;

  grid-auto-flow: column;
}

.zone:nth-child(odd) {
  background-color: $color5;
}
