<h2>Rub Component</h2>

<div class="header-container">
  <ul>
    <li>Directives</li>
    <li>Modals</li>
    <li>Pipes</li>
    <li>Services</li>
    <li>Others</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
    <li>11</li>
    <li>12</li>
  </ul>
</div>

<div class="grid-container">
  <div class="zone 1">zone works 1</div>
  <div class="zone 2">zone works 2</div>
  <div class="zone 3">zone works 3</div>
  <div class="zone 4">zone works 4</div>
  <div class="zone 5">zone works 5</div>
  <div class="zone 6">zone works 6</div>
  <div class="zone 7">zone works 7</div>
  <div class="zone 8">zone works 8</div>
  <div class="zone 9">zone works 9</div>
  <div class="zone 10">zone works 10</div>
  <div class="zone 11">zone works 11</div>
  <div class="zone 12">zone works 12</div>
</div>
<h2>Footer</h2>
