<section id="skills">
  <h3>Things I can do</h3>
  <ul class="grid">
    <li>
      <i class="fab fa-angular"></i>
      <h4>Angular</h4>
    </li>
    <li>
      <i class="fab fa-html5"></i>
      <h4>HTML5</h4>
    </li>
    <li>
      <i class="fab fa-css3-alt"></i>
      <h4>CSS3</h4>
    </li>
    <li>
      <i class="fab fa-sass"></i>
      <h4>Sass</h4>
    </li>
    <li>
      <i class="fab fa-js"></i>
      <h4>Javascript</h4>
    </li>
    <li>
      <i class="fab fa-github-alt"></i>
      <h4>Github</h4>
    </li>
  </ul>
</section>
