@import "src/styles/breakPoints";
@import "src/styles/colors";
@import "/src/styles/mixins";

#skills {
  // color: $quaternary-background;

  h3 {
    text-align: center;
    justify-self: center;
    margin-top: 20px;
  }

  h4 {
    font-size: 12px;
  }

  ul,
  li {
    text-align: center;
    justify-self: center;
  }
}

.skills-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  padding: 40px;

  .zone {
    text-align: center;
    font-size: 6em;
    border-radius: 4px;
    // border: 1px solid #bbb;
    transition: all 0.3s linear;
  }
}

.fa-angular {
  @include linear-gradient-angular;
  font-size: 6em;
}

.fa-node-js {
  @include linear-gradient-node;
  font-size: 6em;
}

.html5 {
  @include linear-gradient-html;
  font-size: 6em;
}

.fa-css3-alt {
  @include linear-gradient-css;
  font-size: 6em;
}

.fa-sass {
  @include linear-gradient-sass;
  font-size: 6em;
}

.fa-gitkraken {
  @include linear-gradient-github;
  font-size: 6em;
}
